{% extends "layout.html" %}
{% block content %}
  <!--ホームセクション-->
  <div id="home">
  <!--ナビゲーション-->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a href="#" class="navbar-brand"><img src="../static/images/nuno.png"  alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="#home" class="nav-link">ホーム</a></li>
              <li class="nav-item"><a href="#gift" class="nav-link">ガチャ</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link">お問い合わせ</a></li>
          </ul>
      </div>
  </nav>
  <!--nav end-->
  
  <!--終わり-->
  <!--ランディングページ-->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">

      </div>
    </div>
  </div>

  <div class="caption text-center">
    <h1>いらすとや ガチャ</h1>
    <h3>始まりの終焉</h3>
    <a href="/select" class="btn btn-outline-danger btn-lg">ガチャを引く</a>
    <a href="/select10" class="btn btn-outline-success btn-lg">10連ガチャを引く</a>
    <a href="/select_stillUR" class="btn btn-outline-primary btn-lg">URが出るまでガチャを引く</a>
  </div>
  </div>
  <!--終わり-->
  <div id="gift" class="offset">
      
  </div>

  <div id="contact" class="offset">
    <div class="container">
      <div class="row justify-content-center py-3">
        <h1 class="border-bottom ">お問い合わせ</h1>
      </div>
      <div class="contact-form mt-3 form-group col-6">
        <label for="contact">お問い合わせ内容(必須)</label>
        <input type="text" class="form-control" placeholder="お問い合わせ内容">
      </div>
      <div class="contact-form mt-3 form-group col-6">
        <label for="your-name">お名前(必須)</label>
        <input type="text" class="form-control" placeholder="お名前">
      </div>
      <div class="contact-form form-group mt-3 col-6">
        <label for="your-name">メールアドレス(必須)</label>
        <input type="text" class="form-control" placeholder="メールアドレス" value size="40">
      </div>
      <div class="contact-form form-group mt-3 col-6">
        <label for="your-subject">題名</label>
        <input type="text" class="form-control">
      </div>
      <div class="contact-form mt-3 form-group col-6">
        <label for="your-name">メッセージ本文(必須)</label>
      </div>
      <div class="contact-form">
          <textarea name="" id="" cols="60" rows="10" class="ml-3"></textarea>
      </div>
      <p class="mt-3 ml-3">
        <input type="submit" value="挿入">
      </p>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}